<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Calendario Medicamentos
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="today()">Hoy</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
 
<ion-content>
  <ion-button fill="outline" expand="block" (click)="cargarEventos()">Cargar Eventos med</ion-button>
  <calendar 
  [eventSource]="eventSource" 
  [calendarMode]="calendar.mode" 
  [currentDate]="calendar.currentDate"
  (onEventSelected)="onEventSelected($event)"
  (onTitleChanged)="onViewTitleChanged($event)"
  (onTimeSelected)="onTimeSelected($event)" 
  startHour="6"
  endHour="20"
  step="30"
  startingDayWeek="1">
  </calendar>
  
</ion-content>