<ion-header>
  <ion-toolbar color="primary">
    <div style="float: left;">
      <ion-title>
        Calendario Medicamentos
      </ion-title>
    </div>
    <div style="float: right;">
      <ion-fab-button (click)="regresar()" >
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-fab-button>
    </div>
    <ion-buttons slot="end">
      <ion-button (click)="today()">Hoy</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
 
<ion-content>
  <calendar 
  [eventSource]="eventSource" 
  [calendarMode]="calendar.mode" 
  [currentDate]="calendar.currentDate"
  (onEventSelected)="onEventSelected($event)"
  (onTitleChanged)="onViewTitleChanged($event)"
  (onTimeSelected)="onTimeSelected($event)" 
  startHour="6"
  endHour="20"
  step="30"
  startingDayWeek="1">
  </calendar>
  
</ion-content>